<%= render "users/profile" %>
<%= render "users/tabs" %>

<% if @events.count == 0 %>
  <div class="no-results-notice">
    <p>
      <% if @user == current_user %>
        You haven't added any events yet.
      <% else %>
        <%= @user.username %> hasn't added any events yet.
      <% end %>
    </p>
  </div>
<% else %>
  <%= render "events/event_card_listings" %>
  <div class="tabs mt-5">
    <div class="tabs-item active">
      <h5>PAST</h5>
    </div>
  </div>
  <% @events = @past_created %>
  <%= render "events/event_card_listings" %>
<% end %>
