<div>
  <div class="avatar-square profile" style="
            background-image:
            url(<%= @user.photo %>);
          ">
  </div>
  <!-- updating user fields -->
  <%= simple_form_for(@user, url: user_path(@user), html: { method: :patch } ) do |f| %>
    <%= f.input :photo, label: 'Set Profile Image' %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :username, required: false, class: "" %>
    <%= f.input :city, label: "City" %>
    <%= f.input :state, label: "State" %>
    <%= f.input :country, as: :string, label: "Country" %>
    <%= f.input :quote, label: "Quote" %>
    <!-- existing urls -->
    <% @user.url_links.each do |url_link| %>
    <ul>
      <li><%= url_link.url %>
        <%= link_to "delete", url_link_path(url_link), method: :delete, style: "margin: 4px ", class: ""  %>
      </li>
    </ul>
    <% end %>
    <!-- adding a new url_link -->
    <% if @user.url_links.count <= 15 %>
      <%= simple_form_for(@url_link, url: user_path(@user), html: { method: :patch }) do |f| %>
        <%= f.input :url, label: "Add Site Link" %>
        <%= f.submit "Submit" %>
      <% end %>
    <% end %>
  <% end %>
</div>
