<div>
  <!-- updating user fields -->
  <%= simple_form_for(@user, url: user_path(@user), html: { method: :patch } ) do |f| %>
    <%= f.input :photo, label: 'Set Profile Image' %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :username, required: false, class: "" %>
    <%= f.input :city, label: "City" %>
    <%= f.input :state, label: "State" %>
    <%= f.input :country, as: :string, label: "Country" %>
    <%= f.input :quote, label: "Quote" %>
    <%= f.submit "Submit" %>
  <% end %>

<!-- adding a new url_link -->
  <% if @user.url_links.count <= 150 %>
    <%= simple_form_for(@url_link, url: user_path(@user), html: { method: :put }) do |f| %>
      <%= f.input :url, label: "Add Site Link" %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
</div>
