
  <div class="profile-row-avatar">
    <div class="avatar-square profile-avatar" style="
                background-image:
                url(<%= @user.photo %>);
                ">
    </div>
    <div class="quote-col">
      <h5>"<%= @user.quote %>"</h5>
    </div>
    <span>Created Events <%= @user.events.count %></span>
  </div>

  <div class="profile-row-username">
    <h3><%= @user.username %></h3>
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), style: "font-size: 14px;" %>
    <% end %>
  </div>
  <div class="profile-location-text">
    <%= @user.city %><%= ', ' + @user&.state %><%= ' - ' + @user.country %>
  </div>

  <% @user.url_links.each do |url_link| %>
  <div class="url-list">
    <ul>
      <li>
        <p>
          <%= url_link.link %>
        </p>
        <p>
          <%= link_to url_link.url, url_link.url, target: "_blank" %>

        </p>
      </li>
    </ul>
  </div>
  <% end %>


  <h5>Saved Events </h5>
  <%= render "events/event_card_listings" %>



