<div class="card card-text">
  <h2><%= @user.username %></h2>
  <p><%= @user.address %></p>

  <div class="avatar-square profile" style="
            background-image:
            url(<%= @user.photo %>);
          ">
  </div>
  <% if @user == current_user %>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% end %>

  <% @user.url_links.each do |link| %>
    <a href="#{link}"><%= link.url %></a>
  <% end %>

  <h5>"<%= @user.quote %>"</h5>

  <h5>Saved Events <%= @user.saved_events.count %></h5>
  <h5>Created Events <%= @user.events.count %></h5>

</div>

