<div class="profile-text">
  <h1><%= @user.username %></h1>
  <p><%= @user.city %><%= ', ' + @user&.state %><%= ' - ' + @user.country %></p>
  <div class="profile-row-avatar">
    <div class="avatar-square profile-avatar" style="
              background-image:
              url(<%= @user.photo %>);
            ">
    </div>
    <div class="quote-col">
      <h5>"<%= @user.quote %>"</h5>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      <% end %>
    </div>
    <h5>Created Events <%= @user.events.count %></h5>
  </div>

  <% @user.url_links.each do |url_link| %>
  <div class="url-list">
    <ul>
      <li>
        <p>
          <%= url_link.link %>
        </p>
        <%= link_to url_link.url, url_link.url, target: "_blank" %>
      </li>
    </ul>
  </div>
  <% end %>


  <h5>Saved Events </h5>
  <%= render "events/event_card_listings" %>

</div>

