   <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
         <%= show_svg "pentagram-icon.svg"  %>
    <% end %>

   <!--  <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </div> -->


        <% if user_signed_in? %>
          <!-- <li class="nav-item active">
            <#%= link_to "Home", "#", class: "nav-link" %>
          </li> -->
         <!--  <li class="nav-item">
            <#%= link_to "Settings", edit_user_registration_path(current_user), class: "nav-link" %>
          </li> -->
          <ul style="list-style: none; margin-bottom: 0px;">
            <li class="nav-item dropdown">
              <!-- <#%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> -->
              <div
                class="avatar-square dropdown-toggle"
                style="background-image: url(<%= current_user.photo %>);"
                id="navbarDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false" =>
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Settings", edit_user_registration_path(current_user), class: "dropdown-item" %>
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Create Event", new_event_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        <% else %>
          <li class="nav-item" style="list-style: none;">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>









  </div>
