<!-- Tabs -->
<div class="container mt-3">
  <div class="tabs">
    <div class="tabs-item <%= current_class?(root_path) %>">
      <h5><%= link_to 'EVENTS', root_path %></h5>
    </div>
    <div class="tabs-item <%= current_class?(past_events_path) %>">
      <h5><%= link_to 'PAST', past_events_path %></h5>
    </div>
    <div class="tabs-item <%= current_class?(users_path) %>">
      <h5><%= link_to 'PROFILES', users_path %></h5>
    </div>
  </div>
 <!--  <div class="tabs-display">
    <img class="display-content" src="images/testimg.jpg" alt="">
  </div> -->
</div>
