<%= form_tag events_path, method: :get, class: "" do %>

  <div class="form-group form-inputs">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search Events" %>
  </div>
  <div class="form-inputs ">
    <label for="" class="form-control-label">Start Date</label>
    <%= date_field_tag :date, "", class: "form-group form-control"  %>
    <label for="" class="form-control-label">End Date</label>
    <%= date_field_tag :end_date, "", class: "form-group form-control form-control-date" %>
  </div>
  <div class="form-actions">
    <%= submit_tag  "Submit", class: "form-control form-actions"%>
  </div>
<% end %>

<!-- <#%= simple_form_for events_path, method: :get do |f| %>
  <div class="form-inline">
    <#%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search Events" %>
    <div>
      <#%= f.label "from", required: false %>
      <#%= f.date_field :date, class: "form-control" %>
    </div>
    <div>
      <#%= f.label "to", required: false %>
      <#%= f.date_field :end_date, class: "form-control" %>
    </div>
    <#%= f.submit "Submit", class: "form-control" %>
  </div>
<#% end %>
 -->
<%= render 'shared/tabs' %>
<%= render 'event_card_listings' %>

<script>





//   ellipsizeTextBox(".card-title", ".card-title-original");

// window.onresize = function(event){
//     ellipsizeTextBox(".card-title", ".card-title-original");
// }
</script>

