<div class="container">
  <% @events.each do |event| %>
    <%= link_to(event) do %>
      <div class="card-text">
        <h2><%= event.title %></h2>
        <p><%= event.descript_limit %></p>
        <p><%= event.date_format %> </p>
        <p><%= event.time %></p>
        <p><%= event.venue.name %> </p>
      </div>
    <% end %>
  <% end %>
</div>

