<div class="container">
  <div class="card-text">
    <h2><%= @event.title %></h2>
    <p><%= @event.description %></p>
    <p><%= @event.date_format %> </p>
    <p><%= @event.time_format %></p>
    <p><%= @event.venue.name %> </p>
    <p> <%= @results %></p>
  </div>
</div>
