<h4>Venue</h4>

<%= simple_form_for @venue do |f| %>
  <div class="form-inputs">
    <%= f.input :name, error: "This venue has an event for your date already" %>
    <%= f.input :country, as: :string, id: "goats"  %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :street %>
    <%= f.input :info %>
  </div>
  <!-- <div class="form-actions">
    <#%= f.button :submit, "Add Venue" %>
  </div> -->
<% end %>

<!-- <#%= form_tag venues_path(@venue), method: :get, class: "form-inline" do %>
  <#%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Venue Name" %>
  <#%= text_field_tag :country, params[:country], class: "form-control", placeholder: "Venue Country" %>
  <#%= text_field_tag :state, params[:state], class: "form-control", placeholder: "Venue State" %>
  <#%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Venue city" %>
  <#%= text_field_tag :street, params[:street], class: "form-control", placeholder: "Venue street" %>
  <#%= text_field_tag :info, params[:info], class: "form-control", placeholder: "Venue info" %>
<#% end %> -->

