<h4>Venue</h4>

<%= simple_form_for @venue do |f| %>
  <div class="form-inputs">
    <%= f.input :name, error: "This venue has an event for your date already" %>
    <%= f.input :country, as: :string %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :street %>
    <%= f.input :info %>
  </div>
  <!-- <div class="form-actions">
    <#%= f.button :submit, "Add Venue" %>
  </div> -->
<% end %>

